{% extends '::layout.html.twig' %}

{% block javascripts %}
    {% javascripts
        '@SmlePanBundle/Resources/public/js/jquery.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

