<h1>ProductPrice list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Product</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('productprice_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.dStart %}{{ entity.dStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.dEnd %}{{ entity.dEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.product %}{{ entity.product.id }}{% endif %}</td>
            <td>{{ entity.price }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('productprice_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('productprice_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('productprice_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
