<div>
<form action="{{ path('productprice_create') }}" method="post" {{ form_enctype(form) }}>
    <input type="hidden" name="date_ref" value="{{ dateRef }}" />
    <input type="hidden" name="rowstart" value="{{ rowstart }}" />
    <div class="fline htitle" title="">{{ entity.productUnit.product.label }}</div>
    <div class="fline" title="">Prix à partir du {{ entity.dStart|date('d/m/Y') }} {{ form_widget(form.price, { 'attr': {'class': 'ifocus ffloat'} }) }}</div>
    <div class="fline" title=""><button class="fsubmit" type="submit">Ajouter</button></div>
    <div class="hidden">{{ form_rest(form) }}</div>
</form>
</div>
