<h1>{{ contacts.0.amap.name }}</h1>

<h3>Contacts</h3>
<table class="contact_list">
    <tbody>
{% for contact in contacts %}
{% if loop.index == 1 %}
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Cp</th>
            <th>City</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
{% endif %}
        <tr>
            <td>{{ contact.adherent.id }}</td>
            <td>{{ contact.adherent.name }}</td>
            <td>{{ contact.adherent.address }}</td>
            <td>{{ contact.adherent.cp }}</td>
            <td>{{ contact.adherent.city }}</td>
            <td>{{ contact.adherent.phone }}</td>
            <td>{{ contact.adherent.email }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('amap') }}">
            Back to the list
        </a>
    </li>
</ul>
