{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>{{ entity.name }} - Tableau de Bord</h1>

<div>
    <div style="float:left;width:33%;">
        <h3>Paniers</h3>
        <table class="records_list" width="
            {% if t_paniers is defined %}
            {{ 100 + 80 * t_paniers|length }}
            {% else %}
            1
            {% endif %}
            px"><tbody>
            <tr>
                <th style="width:10%;"><div style="display: table-cell;vertical-align:middle;height:36px;">Sem</div></th>
                {% if t_paniers is defined %}
                {% for id, panier in t_paniers  %}
                <th style="width:16%;"><div style="display: table-cell;vertical-align:middle;height:36px;line-height:12px;"><span style="font-size:9px;">{{ panier }}</span></div></th>
                {% endfor %}
                {% endif %}
                <th style="width:10%;">Recap</th>
            </tr>
            {% for week in t_dates %}
            <tr>
                {% set panier_check = 0 %}
                <th>{{ week|date('W') }}</th>
                {% if t_paniers is defined %}
                {% for id, panier in t_paniers  %}
                <td
                    {% if t_amaps[week|date('W')][id] is defined %}
                    style="background:#5f0;">
                    <a href="{{ path('panierorder_edit', { 'id': t_amaps[week|date('W')][id].id, 'amapId' : entity.id }) }}">{{ t_amaps[week|date('W')][id].id }}</a>
                    {% set panier_check = 1 %}
                    {% else %}
                    style="background:#ccc;">
                    <a href="{{ path('panierorder_direct_new', { 'amapId' : entity.id, 'date' : week|date('Y-m-d'), 'panierId': id }) }}">new</a>
                    {% endif %}
                </td>
                {% endfor %}
                {% endif %}
                <td>
                    {% if panier_check %}
                    <a href="{{ path('panierorder_printrecap', { 'amapId' : entity.id, 'date' : week|date('Y-m-d') }) }}">voir</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody></table>
    </div>
    <div style="float:left;width:33%;">
        <h3>Jour de Livraison</h3>
        <input type="hidden" value="{{ entity.id }}" /><a class="aamapdeliveryday" href="#">{{ entity.amapDeliveryDays[0].day|getDay }}</a> depuis le {{ entity.amapDeliveryDays[0].dateStart|date('d/m/Y') }}
    </div>
    <div style="float:left;width:33%;">
        <h3>Contacts</h3>
        {% if contacts is empty %}Aucun contact n'est défini.
        {% else %}
        <dl>
        {% for contact in contacts %}
            <dt>{{ contact.adherent.name }}</dt>
            <dd>{{ contact.adherent.address }}</dd>
            <dd>{{ contact.adherent.cp }}</dd>
            <dd>{{ contact.adherent.city }}</dd>
            <dd><a href="mailto:{{ contact.adherent.email }}">{{ contact.adherent.email }}</a></dd>
        {% endfor %}
        </dl>
        {% endif %}
    </div>
</div>

<div id="edit_block" class="fly"></div>

<form id="subform" method="post"></form>

{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
$(document).ready(function(){
    $('.aamapdeliveryday').click(function(evt) {
        $.ajax({
            type: "POST",
            url: "{{ path('amapdeliveryday_new')}}",
            data: { 'amapId': this.previousSibling.value },
            success: function(data){
                $('#edit_block').html(data)
                    .css('left', $(evt.target).offset().left + 'px')
                    .css('top', $(evt.target).offset().top + 'px');
                $('.fly').css('width', '24em');
            }
        }).fail(function() { alert("error"); });    
        return false;
    });
});

$(document).click(function(evt) {
    var e = evt.target;
    while(e) {
        if(e.id == 'edit_block') return;
        e = e.parentNode;
    }
    $('#edit_block').empty();
});

function subform_submit(path) {
	$('#subform').attr('action', path).submit();
}
function subform_clear() {
	$('#edit_block').html('');
}
</script>
{% endblock %}
