{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>PanierAdherent list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adhérent</th>
            <th>Panier</th>
            <th>Date_start</th>
            <th>Date_end</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('panieradherent_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.amapAdherent.adherent.name }}</td>
            <td>{{ entity.panier.name }}</td>
            <td>{% if entity.datestart %}{{ entity.datestart|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.dateend %}{{ entity.dateend|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('panieradherent_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
