{% extends 'SmlePanBundle::layout.html.twig' %}

{% set coeff = 24 %}
{% block body %}

<h1>Historique des prix - {{ entities[dateRef|date('Y-m-d')][0].product.label }}</h1>

<select id="units" size="1" onchange="setUnitFilter(this)">
    <option value="0">Tous</option>
    {% for unity in units %}
    <option value="{{ path('product_show_history_unit', { id: product_id, year: dateRef|date('Y'), unit: unity.unit.id }) }}" 
    {% if u == (loop.index) %} selected
    {% endif %}
    >{{ unity.unit.label }}</option>
    {% endfor %}
</select>
    {% for key, productUnits in entities %}
<table id="tpp{{ loop.index0 }}" class="product_list" border="1" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>Année</th>
            <th>Unité</th>
            <td class="whead">
            {{ key|init(coeff) }}
        {% for i in 0..11 %}
            {{ loop.index0|monthSet }}
        {% endfor %}
        {% for i in 1..52 %}
            {{ loop.index0|weekSet }}
        {% endfor %}
            &nbsp;</td>
        </tr>
    </thead>
    <tbody>
    {% for productUnit in productUnits %}
        <tr>
            <td class="year">{{ key|getYear }}</td>
            <td>{{ productUnit.unit.label }}</td>
            <td class="wsel" width="{{ 52*coeff }}px"><input type="hidden" value="{{ productUnit.id }}" />
        {% for productPrice in productUnit.productPrices %}
            {% if productPrice.price > 0 %}
            {{ productPrice|toDisplay }}
            {% else %}
            {{ productPrice|toEnd }}
            {% endif %}
        {% endfor %}
            &nbsp;</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {% endfor %}

<div id="edit_block" class="fly"></div>

<form id="subform" method="post"></form>

{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
var coeff = {{ coeff }};
    
$(document).ready(function(){
    $('.wprice a,.wnull a').click(function() {
        $.ajax({
            type: "POST",
            url: "{{ path('productprice_edit')}}",
            data: { 'id': this.previousSibling.value },
            success: function(data){
               $('#edit_block').html(data);
               $('.ifocus').focus();
            }
        }).fail(function() { alert("error"); });    
        return false;
    });
    $('.wsel').click(function(evt, title) {
        if(!title){
            var week = parseInt((evt.pageX - this.offsetLeft - 10)/coeff);
            title = $('.wblock').get(week).title;
        }
        var date = title.split('/');
        date = date[2] + '-' + date[1] + '-' + date[0]; 
        $.ajax({
            type: "POST",
            url: "{{ path('productprice_new')}}",
            data: {
                'date': date,
                'productUnit': this.firstChild.value
                },
            success: function(data){
               $('#edit_block').html(data);
               $('.ifocus').focus();
            }
        }).fail(function() { alert("error"); });    
        return false;
    });
    $('.wblock').hover(
        function() {
            $(this).toggleClass('wblock-down');
        }
    ).click(
        function(evt) {
            $($('.wsel').get(parseInt((evt.pageY - this.offsetTop)/$('.wsel').parent().height()))).trigger(evt, this.title);
        }
    ).height(($('#tpp1 tbody tr').length) * $('.wsel').parent().height() - 2);
    $('.wmonth').height(($('.product').length) * $('.wsel').parent().height() + $('.whead').parent().height() - 2);
});

function setUnitFilter(e) {
	location.replace(e.value);
}
function subform_submit(path) {
	$('#subform').attr('action', path).submit();
}
function subform_clear() {
	$('#edit_block').html('');
}
</script>
{% endblock %}
