{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

{% set totcaamp = 0 %}
{% set totcamag = 0 %}

<div>
<h4>
    <a href="{{ path('home_printqtyrecaptopdf', {'date' : date|date('Y-m-d') }) }}" class="controls">
    {% image
        '@SmlePanBundle/Resources/public/images/Adobe_PDF_Icon.svg.png'
    %}
        <img src="{{ asset_url }}" alt="pdf icon" height="24" style="float:right;" />
    {% endimage %}
    </a>
    Bilan de la {{ date|getWeek('full') }}
</h4>
<table class="records_list" width="100%"><tbody>
    <tr>
        <th colspan="2"></th>
        <th colspan="5">Quantités</th>
        <th colspan="3">Chiffre d'affaire (TTC)</th>
    </tr>
    <tr>
        <th width="32%">Produit</th>
        <th width="4%">Unité</th>
        <th width="8%">Prévision</th>
        <th width="8%">AMAPs</th>
        <th width="8%">Magasins</th>
        <th width="8%">Total</th>
        <th width="8%">Écart</th>
        <th width="8%">AMAPs</th>
        <th width="8%">Magasins</th>
        <th width="8%">Total</th>
    </tr>
    {% if week['recap'] is defined %}
    {% for recap in week['recap'] %}
    <tr>
        <td>{{ recap['name'] }}</td>
        <td>{{ recap['unit'] }}</td>
        <td class="cell_number">{% if recap['prod'] > 0 %}{{ '%.1f'|format(recap['prod']) }}{% endif %}</td>
        <td class="cell_number">{% if recap['qtyp'] > 0 %}{{ '%.1f'|format(recap['qtyp']) }}{% endif %}</td>
        <td class="cell_number">{% if recap['qtym'] > 0 %}{{ '%.1f'|format(recap['qtym']) }}{% endif %}</td>
        <td class="cell_number">{{ '%.1f'|format(recap['qtyp'] + recap['qtym']) }}</td>
        <td class="cell_number"><span{% if recap['prod'] - (recap['qtyp'] + recap['qtym']) < 0 %} class="alert"{% endif %}>{{ '%.1f'|format(recap['prod'] - (recap['qtyp'] + recap['qtym'])) }}</span></td>
        <td class="cell_number">{% if recap['qtyp'] > 0 %}{{ '%.2f'|format(recap['pricep']) }}{% endif %}</td>
        <td class="cell_number">{% if recap['qtym'] > 0 %}{{ '%.2f'|format(recap['pricem']) }}{% endif %}</td>
        <td class="cell_number">{{ '%.2f'|format(recap['pricep'] + recap['pricem']) }}</td>
        {% set totcaamp = totcaamp + recap['pricep'] %}
        {% set totcamag = totcamag + recap['pricem'] %}
    </tr>
    {% endfor %}
    {% endif %}
    <tr>
        <th>Totaux</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{ '%.2f'|format(totcaamp) }}</th>
        <th>{{ '%.2f'|format(totcamag) }}</th>
        <th>{{ '%.2f'|format(totcaamp + totcamag) }}</th>
    </tr>
</tbody></table>
</div>

{% endblock %}

{% block javascripts %}{{ parent() }}
{% endblock %}
