<h1>AmapDeliveryDay list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Day</th>
            <th>Date_start</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('amapdeliveryday_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.day }}</td>
            <td>{% if entity.datestart %}{{ entity.datestart|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('amapdeliveryday_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('amapdeliveryday_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('amapdeliveryday_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
