<h1>AmapDeliveryDay</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Day</th>
            <td>{{ entity.day }}</td>
        </tr>
        <tr>
            <th>Date_start</th>
            <td>{{ entity.datestart|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('amapdeliveryday') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('amapdeliveryday_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('amapdeliveryday_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
