<div>
<form action="{{ path('productunit_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="fline htitle" title="">{{ entity.product.label }}</div>
    <div class="fline" title="">Unité {{ form_widget(form.unit, { 'attr': {'class': 'fselect ffloat'} }) }}</div>
    <div class="fline" title="">Poids {{ form_widget(form.weight, { 'attr': {'class': 'ifocus ffloat'} }) }}</div>
    <div class="fline" title=""><button class="fsubmit" type="submit">Ajouter</button></div>
    <div class="hidden">{{ form_rest(form) }}</div>
</form>
</div>
