{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<div>
<h1>Production - Réalisations</h1>

<dl>
    <dt>Semaine :</dt>
    <dd>{{ entity.date|getWeek('full') }}</dd>
</dl>

<table id="panier_table" class="records_list" style="table-layout: fixed;">
    <tbody>
        <tr>
            <th>Produits disponibles</th>
            <th>Unité</th>
            <th>
                {% if is_granted("ROLE_ADMIN") %}<a href="{{ path('weekproduction_new', { 'date' : entity.date|date('Y-m-d') }) }}">{% endif %}
                Prévisions
                {% if is_granted("ROLE_ADMIN") %}</a>{% endif %}
            </th>
            {% for i in 1..7 %}
            <th>{{ (i%7)|getDay }}</th>
            {% endfor %}
            <th>Réalisé</th>
        </tr>
        {% for pu in entity.productUnits %}
        <tr id="{{ pu.productPrice.productUnit.product.ref }}" class="{{ pu.productPrice.productUnit.product.ref }}
            {% if pu.quantity == 0 %}hidden{% endif %}
            ">
            <td>
                <input type="hidden" name="productPrices[]" value="{{ pu.productPrice.id }}" />{{ pu.productPrice.productUnit.product.label }}</td>
            <td>{{ pu.productPrice.productUnit.unit.label }}</td>
            <td class="cell_number">{{ pu.quantity }}</td>
            {% for i in 1..7 %}
            <td class="cell_number cell_input" id="{{ loop.index0 }}_{{ pu.productPrice.id }}"><span>{% if tdp[pu.productPrice.id][i%7] is defined %}{{ tdp[pu.productPrice.id][i%7] }}{% endif %}</span></td>
            {% endfor %}
            <td class="cell_number total_column"></td>
        </tr>    
        {% endfor %}
        <tr>
            <td></td>
            <td>Total</td>
            <td id="price_total" class="cell_number">{{ entity.totalQuantities }}</td>
            {% for i in 1..7 %}
            <td class="cell_number total_row"></td>
            {% endfor %}
            <td class="cell_number total_row total_column"></td>
        </tr>
    </tbody>
</table>
  
<div id="command_block">
    Ajouter un produit disponible
    <select id="unused_products" size="1">
        <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
    {% for pu in entity.productUnits %}
        <option class="{{ pu.productPrice.productUnit.product.ref }} {% if pu.quantity != 0 %}hidden{% endif %}" value="{{ pu.productPrice.productUnit.product.ref }}">
            {{ pu.productPrice.productUnit.product.label }}
        </option>
    {% endfor %}
    </select>
<!--
<div class="fright"><input type="button" value="Modifier" onclick="document.weekproduction_form.submit();"></div>
-->
</div>

</div>

{% endblock %}

{% block javascripts %}{{ parent() }}
    {% javascripts
        '@SmlePanBundle/Resources/public/js/jshashtable.js'
        '@SmlePanBundle/Resources/public/js/jquery.numberformatter.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
var dateRef;
$.ajustPrices = function() {
    //2- adjust the no fixed lines (fixed : value set manually)
    tmpTotal = 0;
    $('.iqty').each(function() {
        if(!$(this).hasClass('fixed')) {
            this.value = rt;
            $.adjustLine(this);
        }
        tmpTotal += eval(this.parentNode.nextSibling.innerHTML);
        return;
    });
    //3- some formatting
    $('#price_total').html(tmpTotal);
    $('.iqty').formatNumber({format:"#0.0", locale:"us"});
    $('.cell_number').formatNumber({format:"#0.00", locale:"us"});
    return;
}

$.adjustLine = function(iqty) {
    var next = $(iqty.parentNode).next();
    var weight_total = iqty.value;
    // Column price (PU * qty)
    next.html(weight_total * iqty.parentNode.previousSibling.innerHTML);
    return false;
}

$.toggleLock = function(img, lock) {
    if(lock && $(img).hasClass('lock')) return;
    var parent = $(img).parent();
    $(parent).children('img').toggleClass('hidden');
    $(parent).append(img);
    return;
}

$.clear = function(p) {
    var tr = $(p).parents('tr');
    var iqty = tr.find('.iqty');
    iqty.attr('value', 0);
    iqty.trigger('change');
    //$('.' + $(tr).attr('id')).toggleClass('hidden');
    return;
}

$.revert = function(elem) {
    $(elem).prev().toggleClass('hidden');
    $(elem).remove();
}

$.validate = function(elem) {
    if(!eval(elem.value)) return $.revert(elem);
    var params = elem.parentNode.id.split('_');
    $.ajax({
        type: "POST",
        url: {% if is_granted("ROLE_ADMIN") %}"{{ path('production_new', { 'date' : entity.date|date('Y-m-d') }) }}"{% else %}"{{ path('smle_pan_user_product_new', { 'user' : app.user.username, 'date' : entity.date|date('Y-m-d') }) }}"{% endif %},
        data: {
            'jour': params[0],
            'popu': params[1],
            'qty': elem.value
            },
        success: function(response){
            var td = $(elem).parent();
            $(td).html(response);
            $(td).parent('tr').next().children('td:eq(' + $(td).index() + ')').trigger('click');
        }
    }).fail(function() { alert("error"); });    
}

/*
$(document).keyup(function(event){
    event.preventDefault();
    var iqty = $('#iqty').get(0);
    if(event.which > 26 && event.which < 41){
        if(iqty) {
            var td = iqty.parentNode;
            switch(event.which){
                case 27: $(iqty).attr('value', $(iqty).prev().html());$.validate(iqty);break;
                case 37: $.validate(iqty);$(td).prev().trigger('click');break;
                case 38: $.validate(iqty);$(td).parent('tr').prev().children('td:eq(' + $(td).index() + ')').trigger('click');break;
                case 39: $.validate(iqty);$(td).next().trigger('click');break;
                case 40: $.validate(iqty);$(td).parent('tr').next().children('td:eq(' + $(td).index() + ')').trigger('click');break;
            }
        }
    }
    return;
}); 
*/

$(document).ready(function(){
    dateRef = '{{ entity.date|date('Y-m-d') }}';
/*
    $('.iqty').change(function(evt) {
        $(this).addClass('fixed');
        $.adjustLine(this);
        if(this.value == 0) {
            $('.' + this.parentNode.parentNode.id).toggleClass('hidden');
        }
        $.toggleLock($(this).next(), true)
        $.ajustPrices();
        return;
    }).focus(function(){
        lastField = this;
        $('#last_value').attr('value',this.value);
        this.select();
    });
*/
    //setting input elements
    $('.cell_input').click(function(){
        $('#iqty').remove();
        $(this).append('<input type="text" class="ffloat" id="iqty" value="' + $(this).children().first().html() + '" />');
        $(this).children().first().toggleClass('hidden');
        $('#iqty').blur(function(){
            $.validate(this);
        }).focus().keypress(function(event){
            var td = this.parentNode;
            switch(event.which){
                case 13: $.validate(this);break;
                //case 27: $(iqty).attr('value', $(iqty).prev().html());$.validate(iqty);break;
            }
            return;
        });
    });
    //clear button
    $('.cancel').click(function() {
        $.clear(this);
        $.ajustPrices();
        return;
    });
    //selector for products with no quantity
    $('#unused_products').change(function() {
        if(!this.value) return;
        $('.' + this.value).toggleClass('hidden');
        this.value = 0;
        return;
    });
    //$.ajustPrices();
    $('#command_block').width($('#panier_table').width());
});

</script>
{% endblock %}
