<div class="">
<form action="{{ path('panierprice_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="fline" title="">Nouveau prix : {{ form_widget(form.price, { 'attr': {'class': 'ifocus ffloat'} }) }}</div>
    <div class="fline" title="">À partir du : {{ form_widget(form.date_start, { 'attr': {'class': 'fdate'} }) }}</div>
    {{ form_widget(form.date_end) }}
    {{ form_widget(form.panier) }}
    {{ form_rest(form) }}
    <div class="fline">&nbsp;<button class="fsubmit" type="submit">Valider</button></div>
</form>
</div>
