@media screen
{
    body {
        font-size:80%;
        padding:0;
    }

    #menu a {
        color:white;
    }

    #menu {
        margin-left: 24%;
    }

    #menu a:hover {
        color:#555;
    }

    #menu ul {
        font-weight: bold;
        font-size: 10pt;
        padding-left: 0;
    }

    #menu ul li {
        position:relative;
        float: left;
        margin-left: -1px;
        margin-top: -1px;
        text-decoration:none;
        border: 1px solid #eee;
        border-radius:4px;
        background: #8a8;
        display: inline;
        padding: 4px 8px 4px 8px;
        width: 100px;
        text-align: center;
    }

    #menu ul li.external {
        background: #8aa;
    }

    #menu ul ul  {
        position:absolute;
        z-index: 10;
        display:none;
    }

    #menu ul ul ul  {
        z-index: 20;
        margin: -18px 0 0 100px;
    }

    #menu ul ul li {
        display:block;
        position:relative;
        background: #acb;
        padding-left: 20px;
        text-align: left;
    }

    #menu ul ul ul li {
        background: #bcb;
    }

    #menu ul li:hover>ul {
        display:block;
    }

    #menu ul ul li:hover>ul {
        display:block;
    }

    .page {
        width: 800px;
        margin: 0 10% 0 10%
    }

    .record_list, .records_list {
        font-size: 8pt;
    }

    .record_list tr, .records_list tr {
        line-height: 20px;
    }

}

@media print
{
    body {
        font-size:14pt;
        padding:0;
    }
    
    #header, .controls {
        display: none;
    }

    .record_list, .records_list {
        width: 100%;
        font-size: 12pt;
    }

    .record_list td, .records_list td, .record_list th, .records_list th {
        line-height: 40px;
        padding-right: 10px;
    }

}

@media screen, print
{
    a {
        text-decoration:none;
    }

    #banner {
        height: 20px;
    }

    #content a {
        color:#555;
    }

    #content a:hover {
        color:#459945;
    }

    #content h1 {
        color:#227964;
        padding-left: 10%;
        font-size: 18px;
    }

    #content a.emphasis {
        color:white;
    }

    #content a.emphasis:hover {
        color:#bbffbb;
    }

    input, select, button {
        vertical-align: middle;
        font-size: 11px;
    }

    input[type="text"] {
        height: 11px;
    }

    input[type="button"], button, select {
        height: 21px;
    }

    .record_list, .records_list {
        border-left: thin solid #aaa;
        border-top: thin solid #aaa;
        border-spacing: 0;
    }

    .record_list td, .records_list td, .record_list th, .records_list th {
        border-bottom: thin solid #aaa;
        border-right: thin solid #aaa;
    }

    .record_list td, .records_list td, .record_list th, .records_list th, .cell_number {
        padding: 0 4px 0 4px;

    }
    
    ul.simplelist {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    .small-checkbox {
        width : 8pt;
        height :8pt;
    }

    .product_list {
        margin-top:30px;
        margin-bottom:8px;
    }

    .product_list .htag, .htitle {
        white-space:nowrap;
    }

    .product_list tfoot td {
        border:none;
    }

    .hidden, .outofpage { display:none; }
    
    #paginator span {
        padding: 0 4px 0 4px;
    }

    .wsel div, .whead div {
        display:inline;
        position:absolute;
    }

    .htitle, .wyear {
        font-weight:bold;
    }

    .whead {
        background:white;
    }

    .wprice {
        border-left:thin solid;
        background:#88ffcc;
        opacity:0.8;
        border-radius:4px;
    }

    .wnull {
        background:#67bb67;
    }

    .wprice a, .wnull a {
        z-index: 10;
        cursor:pointer;
        font-size:8pt;
    }

    .wblock {
        margin-top: 10px;
        font-size: 10px;
        border-top-left-radius:8px;
        border-top-right-radius:8px;
        text-align: center;
    }

    .wblock-down {
        border:thin solid #ccc;
        background:#eee;
        opacity:0.5;
    }

    .wyear {
        margin-top:-26px;
        background:#777;
        padding:0 4px 0 4px;
        height:16px;
        border-top-left-radius:4px;
        border-top-right-radius:4px;
    }

    .wmonth {
        border-left:thin solid green;
        padding-left:2px;
        margin-top: -8px;
    }

    .htag {
        padding-left: 4px;
    }
    
    .home_table {
        background: #acb;
        border-radius:8px;
        border-spacing: 4px;
    }
    
    .home_table td.home_data {
        background: white;
        vertical-align:top;
    }
    
    .home_table td.home_data div {
        margin: 0 1em 0 1em;
    }
    
    .home_data .records_list th div {
        height:36px;
        display:table-cell;
        vertical-align:middle;
    }
    
    .home_data .records_list th div span {
        font-size:9px;
    }
    
    #edit_block div.alert {
        color:green;
    }
    
    #rightside_block {
        width: 25%;
        background: #acb;
        border-radius:8px;
        padding: 2px;
    }

    #rightside_block h4 {
        color: white;
        text-align: center;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    #search_panel {
        background: #fff;
        overflow: auto;
        padding: 0 4px 0 4px;
    }

    #edit_block {
        position:absolute;
    }

    #tpp thead tr {
        height: 36px;
    }
    
    .inlined {
        float: left;
    }

    .address {
        margin:2em 0 2em 50%;
        
    }
    
    .links_footbar {
        text-align: center;
        margin-top: 2em;
    }

    .fly > div, .fix > div {
        background:#89a;
        padding:4px;
        opacity:0.8;
        border-radius:4px;
    }

    .fix > div {
        margin: -40px 0 0 140px;
        width: 200px;
    }

    .fly select, .fix select {
        height:20px;
    }
    
    .recompute, .cancel {
      cursor: pointer;
    }

    .cell_number {
        text-align:right;
    }

    .cell_input {
        cursor:pointer;
        background: #d0ffe8;
    }

    .fline {
        height:24px;
    }

    .ffloat, .fsubmit, .fdate, .fselect, .fright, #rightside_block, .estimations_link { float:right;}
    .ffloat, .fdate { height:12px; }
    .ffloat, .fsubmit { text-align:right; }
    .ffloat, .ifloat { width:4.5em; }
    .fdate { width:6em; }

}
