{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Attribution du panier {{ entity.id }}</h1>

<dl>
    <dt>AMAP :</dt>
    <dd>{{ panier_adherents.0.amapAdherent.amap.name }}</dd>
</dl>

<form action="{{ path('panierorder_updateamappanieradherents', { 'id': entity.id }) }}" method="post">
    <table class="records_list">
        <tbody>
            <tr>
                <th>
                    <input type="checkbox" id="icb_all" />
                </th>
                <th>
                    Adhérent
                </th>
            </tr>
        {% for pa in panier_adherents %}
            <tr>
                <td>
                    {% if pa.findPanierOrder(entity) %}
                    <input type="checkbox" id="ADH{{ pa.amapAdherent.adherent.id }}" value="{{ pa.id }}" class="visible" name="panierAdherentsYes[]" checked /><input type="checkbox" value="{{ pa.id }}" class="hidden" name="panierAdherentsNo[]" />
                    {% else %}
                    <input type="checkbox" id="ADH{{ pa.amapAdherent.adherent.id }}" value="{{ pa.id }}" class="visible" name="panierAdherentsYes[]" /><input type="checkbox" value="{{ pa.id }}" class="hidden" name="panierAdherentsNo[]" checked />
                    {% endif %}
                </td>
                <td>
                    <label for="ADH{{ pa.amapAdherent.adherent.id }}">{{ pa.amapAdherent.adherent.name }}</label>
                </td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>
    <button type="submit">Affecter</button>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('panierorder_edit', { 'id': entity.id }) }}">
            Retour
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
$(document).ready(function(){
    $('.visible').change(function() {
        this.nextSibling.checked = !this.checked;
    });
    $('#icb_all').click(function() {
        $('.visible').attr('checked', this.checked);
        $('.hidden').attr('checked', !this.checked);
    });
});

</script>
{% endblock %}
