{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Commandes de Paniers</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Semaine</th>
            <th>Type</th>
            <th>AMAPs</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('panierorder_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.date|getWeek('full') }}</td>
            <td>{{ entity.panier.name }}</td>
            <td>
                <ul>
                {% for key, amap in entity.amaps %}
                    <li><a href="{{ path('panierorder_edit', { 'id': entity.id, 'amapId' : key }) }}">{{ amap }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('panierorder_new') }}">
            Nouveau
        </a>
    </li>
</ul>
{% endblock %}
