{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<div id="rightside_block">
    <h4>Rechercher des Paniers</h4>
    <form>
    <table><tbody>
        <tr>
            <th>AMAP</th>
            <td><select id="amap_sel" name="amap_sel" size="1">
                <option value="0">(toutes)</option>
                {% for amap in amap_all %}
                <option value="{{ amap.id }}"{% if amap_id == amap.id %} selected{% endif %}>{{ amap.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><select id="type_sel" name="type_sel" size="1">
                <option value="0">(tous)</option>
                {% for type in panier_all %}
                <option value="{{ type.id }}"{% if entity.panier.id == type.id %} selected{% endif %}>{{ type.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td><input id="ilimit" type="text" class="ifloat" value="4" /><button id="searchbtn" style="float:right;">Chercher</button></td>
        </tr>
    </tbody></table>
    </form>
    <form name="panierorder_duplicate" method="POST" action="{{ path('panierorder_duplicate', {'amapId': amap_id, 'date': entity.date|date('Y-m-d'), 'panierId': entity.panier.id }) }}">
        <input type="hidden" name="poRefId" /><input type="hidden" name="duplicMode" />
    </form>
    <div id="search_panel"></div>
</div>
<div>
<h1>Commande de Panier - creation : Étape 2</h1>

<dl>
    {% if amap %}
    <dt>AMAP :</dt>
    <dd>{{ amap.name }}</dd>
    {% endif %}
    <dt>Type :</dt>
    <dd>{{ panier_price.panier.name }}</dd>
    <dt>Prix :</dt>
    <dd>{{ panier_price.price }} €</dd>
    <dt>Semaine :</dt>
    <dd>{{ entity.date|getWeek('full') }}</dd>
</dl>

<form id="panierorder_form" name="panierorder_form" action="{{ path('panierorder_create', { 'amapId': amap_id }) }}" method="post" {{ form_enctype(form) }}>
    <table id="panier_table" class="records_list">
        <tbody>
            <tr>
                <th>Produits disponibles</th>
                <th>Unité</th>
                <th>Prix</th>
                <th>Quantité</th>
                <!--
                <th>Poids Total</th>
                -->
                <th>Prix Total</th>
            </tr>
            {% for pu in form.productUnits %}
            <tr id="{{ productPrices[loop.index0].productUnit.product.ref }}" class="{{ productPrices[loop.index0].productUnit.product.ref }}">
                <td>
                    {% image
                        '@SmlePanBundle/Resources/public/images/cancel.png'
                    %}
                        <img class="cancel" src='{{ asset_url }}' alt='effacer' height='12'/>
                    {% endimage %}
                    <input type="hidden" name="productPrices[]" value="{{ productPrices[loop.index0].id }}" />{{ productPrices[loop.index0].productUnit.product.label }}</td>
                <td>{{ productPrices[loop.index0].productUnit.unit.label }}</td>
                <td class="pu_price">{{ productPrices[loop.index0].price }}</td><td>{{ form_widget(pu.quantity, { 'attr': { 'class': 'ifloat iqty' } }) }}
                        {% image
                            '@SmlePanBundle/Resources/public/images/unlock.png'
                        %}
                            <img class="recompute unlock" src='{{ asset_url }}' alt='unlock' height='14'/>
                        {% endimage %}
                        {% image
                            '@SmlePanBundle/Resources/public/images/lock.png'
                        %}
                            <img class="recompute lock hidden" src='{{ asset_url }}' alt='lock' height='14'/>
                        {% endimage %}
                </td><td class="cell_number line_total">{{ productPrices[loop.index0].price * pu.quantity.vars.value }}</td>
            </tr>    
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td>Total</td>
                <td id="price_total" class="cell_number"></td>
            </tr>
        </tbody>
    </table>
<div class="hidden">{{ form_rest(form) }}<input type="hidden" id="last_value" /></div>    
<div id="command_block">
    <select id="unused_products" size="1">
        <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
    {% for pu in entity.productUnits %}
        <option class="{{ productPrices[loop.index0].productUnit.product.ref }} hidden" value="{{ productPrices[loop.index0].productUnit.product.ref }}">
            {{ productPrices[loop.index0].productUnit.product.label }}
        </option>
    {% endfor %}
    </select>
    <div><input type="button" class="fright" value="Valider" onclick="document.panierorder_form.submit();"></div>
</div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('panierorder') }}">
            Liste des Paniers
        </a>
    </li>
</ul>
</div>
{% endblock %}

{% block javascripts %}{{ parent() }}
    {% javascripts
        '@SmlePanBundle/Resources/public/js/jshashtable.js'
        '@SmlePanBundle/Resources/public/js/jquery.numberformatter.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
var panierPrice;
var lastField;

$.ajustPrices = function() {
    var tmpTotal = 0;
    var pprice = panierPrice;
    //1- define the ratio between the column total and the panier price
    $('.line_total').each(function() {
        var iqty = this.previousSibling.firstChild;
        if($(iqty).hasClass('fixed'))
            pprice -= eval(this.innerHTML); // => rest to adjust
        else {
            tmpTotal += eval(this.previousSibling.previousSibling.innerHTML); // => no defined
        }
        return;
    });
    //if(pprice < -0.01) return $.rollbackPrices();
    var rt = pprice / tmpTotal;
    //2- adjust the no fixed lines (fixed : value set manually)
    tmpTotal = 0;
    $('.iqty').each(function() {
        if(!$(this).hasClass('fixed')) {
            this.value = rt;
            $.adjustLine(this);
        }
        tmpTotal += eval(this.parentNode.nextSibling.innerHTML);
        return;
    });
    //3- some formatting
    $('#price_total').html(tmpTotal);
    $('.iqty').formatNumber({format:"#0.000", locale:"us"});
    $('.cell_number').formatNumber({format:"#0.00", locale:"us"});
    return;
}

$.adjustLine = function(iqty) {
    var next = $(iqty.parentNode).next();
    var weight_total = iqty.value;
    // Column price (PU * qty)
    next.html(weight_total * iqty.parentNode.previousSibling.innerHTML);
    next = next.next();
    if($(next).children('span').empty()) return true;
    while(next) {
        // Last column : total
        if(next.attr('class') == 'total_weight') {
            next.children(':first-child').html(weight_total);
            return true;
        }
        // Amaps columns
        nb = $('#' + next.attr('class')).attr('value');
        next.children(':first-child').html(iqty.value * nb);
        next = next.next();
    }
    return false;
}

$.rollbackPrices = function() {
    lastField.value = $('#last_value').attr('value');
    lastField.parentNode.nextSibling.innerHTML = lastField.value * lastField.parentNode.previousSibling.innerHTML;
    //$('.iqty').number(true, 3);
    $('.cell_number').formatNumber({format:"#0.00", locale:"us"});
    alert('La valeur saisie fait dépasser le montant total du panier.');
    return;
}

$.toggleLock = function(img, lock) {
    if(lock && $(img).hasClass('lock')) return;
    var parent = $(img).parent();
    $(parent).children('img').toggleClass('hidden');
    $(parent).append(img);
    return;
}

$.clear = function(p) {
    var tr = $(p).parents('tr');
    var iqty = tr.find('.iqty');
    iqty.attr('value', 0);
    iqty.trigger('change');
    //$('.' + $(tr).attr('id')).toggleClass('hidden');
    return;
}

$(document).ready(function(){
    lastField = $('.iqty').get(0);
    panierPrice = eval({{ panier_price.price }});
    $('.iqty').change(function(evt) {
        $(this).addClass('fixed');
        $.adjustLine(this);
        if(this.value == 0) {
            $('.' + this.parentNode.parentNode.id).toggleClass('hidden');
        }
        $.toggleLock($(this).next(), true)
        $.ajustPrices();
        return;
    }).focus(function(){
        lastField = this;
        $('#last_value').attr('value',this.value);
        this.select();
    });
    //button to recompute the line
    $('.recompute').click(function() {
        $(this).prev().toggleClass('fixed');
        $.toggleLock(this);
        $.ajustPrices();
        return;
    });
    //clear button
    $('.cancel').click(function() {
        $.clear(this);
        $.ajustPrices();
        return;
    });
    //selector for products with no quantity
    $('#unused_products').change(function() {
        if(!this.value) return;
        $('.' + this.value).toggleClass('hidden');
        this.value = 0;
        return;
    });
    //initialize quantities
    $('.iqty').each(function() {
        this.parentNode.nextSibling.innerHTML = this.value * this.parentNode.previousSibling.innerHTML;
        return;
    });
    //search panel
    $('#searchbtn').click(function(){
        //alert(document.getElementById('amap_sel').value);
        $.ajax({
            type: "POST",
            url: "{{ path('panierorder_search')}}",
            data: {
                'amapId': document.getElementById('amap_sel').value,
                'type': document.getElementById('type_sel').value,
                'id': 0,
                'limit': document.getElementById('ilimit').value
                },
            success: function(data){
                $('#search_panel').html(data);
                $('.cell_number_search').formatNumber({format:"#0.00", locale:"us"});
            }
        }).fail(function() { alert("error"); });    
        return false;
    });
    $(window).resize(function() {
        $('#search_panel').height(parseInt($(window).height()) - 260);
    });
    $(window).trigger('resize');
    $.ajustPrices();
    $('#command_block').width($('#panier_table').width());
});

</script>
{% endblock %}
