<div>
<form name="search_recap" method="POST" action="{{ path('panierorder_printrecap', { 'amapId' : amapId, 'date' : '' }) }}">
    <input type="hidden" id="date" value="{{ curdate }}" /><input type="button" class="iweek" value="-" onclick="changeDate('-')" />
    {% for recap in recaps %}<span class="{% if not recap.select %}hidden{% else %}visible{% endif %}"
        id="{{ recap.date|date('Y-m-d') }}">{{ recap.date|getWeek('full') }}</span>{% endfor %}<input type="button" class="iweek" value="+" onclick="changeDate('+')" />
    <button onclick="dateAndSubmit();">Ok</button>
</form>
</div>
<script type="text/javascript">
function changeDate(sens) {
    var span = $('.visible').toggleClass('visible');
    span.toggleClass('hidden');
    var target = sens == '+' ? span.next() : span.prev();
    target.toggleClass('hidden');    
    target.toggleClass('visible');
    $('#date').attr('value', target.attr('id'));
}
function dateAndSubmit() {
    document.search_recap.action += ('/' + document.getElementById('date').value);
    return document.search_recap.submit();
}
</script>
