{% extends 'SmlePanBundle::panier.layout.html.twig' %}

{% block panier %}

<h1>Panier {{ entity.id }}</h1>

{% if amap_id %}
<h4>{{ amap.name }}</h4>
{% endif %}

<ul class="simplelist">
    <li>{{ panier_price.panier.name }} - {{ entity.date|getWeek('full') }}</li>
</ul>

<div>
    <table id="panier_table" class="records_list" style="table-layout: fixed;">
        <tbody>
            <tr>
                <th>Produits disponibles</th>
                <th>Unité</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Prix Total</th>
            </tr>
            {% for pu in entity.productUnits %}
            <tr>
                <td>{{ pu.productPrice.productUnit.product.label }}</td>
                <td>{{ pu.productPrice.productUnit.unit.label }}</td>
                <td>{{ pu.productPrice.price }}</td><td>{{ pu.quantity }}</td>
                <td>{{ pu.productPrice.price * pu.quantity }}</td>
            </tr>    
            {% endfor %}
            <tr>
                <td>
                </td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{ panier_price.price }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
